@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GowunDodum-Regular';
}

h1{ 
    color : white;
    text-align: center;
    font-size: large;
    padding-bottom: 30px;
 }
 
header{
    padding: 20px;
    align-items: center;
    background-color:darkseagreen;
    text-align: center;
}


nav{
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

ul{
    list-style: none;
    margin-top: 10px;
    padding: 0;
    display: flex;
}

li a {
    font-size: 16px;
    border: none;
    color: white;
    padding: 18px 40px;
    text-decoration: none;
    margin: 4px 4px;
    border-radius: 25px;
    font-weight: bold;
}

li a:hover{
    font-size: 17px;
    color: darkseagreen;
    background-color: white;
}


body{
    font-family: 'GowunDodum-Regular';
    text-align:center;
    align-content: center;   
}

img{
    border-image-width: 10px;
    padding-bottom: 10px;
}


.list {
    font-size: 12px;
    padding: 10px 20px;
    margin: 4px 2px;
    border-radius: 25px;
    font-weight: bold;
}

.list a{
    background-color: darkseagreen;
    color:white;
    padding: 10px 20px;
    margin: 4px 2px;
    border-radius: 100px;
    font-weight: bold;

}

.list a:hover{
    font-size: 12px;
    padding: 10px 20px;
    margin: 4px 2px;
    border-radius: 25px;
    font-weight: bold;
    color: white;
    background-color: seagreen;
}

p{
    text-decoration: none;
    margin: 5px 3px;
    border-radius: 25px;
    font-weight: bold;
}

p a:hover{
    background-color: darkseagreen;
    color: white;
    text-decoration: none;
    margin: 5px 3px;
    border-radius: 25px;
    font-weight: bold;
}


footer{
    padding: 10px;
    color: white;
    background-color: darkseagreen;
    text-align: center;
}
