html,body{
    height:100%;
    width: 100%;    
    margin: 0;
    padding: 0;
}
header {
    float: left;
    position: relative;
   width: 100%; height: 30%;
   background-color: yellow; 
}
audio{
    background-color: yellow; 
    
}
nav {
    float: left; position: relative;
    width: 15%; height: 800px; 
    background-color: orange;
}
caption{
    
    text-align: center;
    background-color: skyblue;
}
section {
    float: left; position: relative;
    width: 85%; height: 800px;
    background-color: skyblue;
}

footer {
    width: 100%; height: 15%;
    background-color: violet;
    position: relative;
    clear: both; float: left;
}

h1 {
    text-align: center;
}