h1{
    color: brown;
    text-align: center;
}

body{
    background-color: aliceblue;
}
h2{
    color:blue;
    text-shadow :0px 0px 3px blue;
}
footer{
    background-color: orange;
    border-radius: 10px;
    margin: 10px;
    text-align: 1em;
}
a{
    text-decoration: none;
}
ul{
    border : 1px dotted;
}
header{
    border-bottom: 1px solid black;
    
}
p{
    text-indent: 1em;
    font-size: 1em;
    font-family: 휴먼편지체, 바탕, Serif;
    
}